@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin:auto;
    background:url("../_imagens/radio-tv.png") no-repeat;

}

video#filme03 {
    display:block;
    position:relative;
    left: 90px;
    top: 80px;
    width: 440px;
    box-shadow:2px/*horizontal*/ 2px/*vertcal*/ 5px/*espalhamento*/ black;
}

audio#musica {
display:block;
position: relative;
left:575px;
top:490px;
width: 300px;
}

video#filme02 {
    width: 350px;
    height: 200px;
    top:auto;
    left: 200px;
    box-shadow:2px/*horizontal*/ 2px/*vertcal*/ 5px/*espalhamento*/ black;
}

video#filme01 {
    display: block;
    position: relative;
    width: 350px;
    height: 200px;
    top:-10px;
    left:70px;
    box-shadow:2px/*horizontal*/ 2px/*vertcal*/ 5px/*espalhamento*/ black;
    
}
 
